.idea/
node_modules/
.sass-cache/
build/
log/
vendor/
composer.lock
.DS_Store
.project
Thumbs.db
rating-widget-vue/css/
*.log
*.map
assets/index.html
assets/widgets/*

app/public/index.html
app/yarn.lock
